<html>
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">





    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <link rel="stylesheet" href="ui-bootstrap-2.5.0-csp.css" >
    <script src="ui-bootstrap-tpls-2.5.0.min.js"></script>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        /* The switch - the box around the slider */

        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */



        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #006af3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #004cf3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>

</head>



<body ng-app="app" ng-controller="myCtrl">

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Familyprotector</a>


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" ng-click="m=false;v=false;g=true;gundelik()" >Gundelik <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" ng-click="m=false;v=true;g=false;">Proqramlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" ng-click="m=true;v=false;g=false;">Xerite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Whatsapp</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Facebook</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Youtube</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Saytlar</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<select class="browser-default custom-select custom-select-lg mb-3 ">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>

<div >

    <select class="browser-default custom-select custom-select-lg mb-3">
        <option selected>Ulvi</option>
        <option value="1">Kamal</option>
        <option value="2">Qalib</option>
        <option value="3">Semed</option>
    </select>

    <div id="map" ng-show="m" ></div>

    <table class="table" ng-show="v">
        <thead>

        </thead>
        <tbody>
        <tr ng-repeat="m in aa">
            <td><img ng-src="http://tmhgame.tk/{{m.package}}.png" style="width: 60px; height: 60px"></td>
            <td>
                <h5 >{{m.name}}</h5>
                <h5>{{$index}}</h5>
                <h5>{{m[$index].blocked}}</h5>
            </td>
            <td>
                <h5>{{m.blocked == false?'Açıq':'Bağlı' }}</h5>
                <label class="switch">
                    <input type="checkbox"  ng-click="block(scope, m.package, m, $event)"  ng-checked="aa[$index].blocked"   >
                    <span class="slider"></span>
                </label>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table" ng-show="g">
        <thead>

        </thead>
        <tbody>
        <tr ng-repeat="m in gunluk">
            <td><img ng-src="http://tmhgame.tk/{{m.package}}.png" style="width: 60px; height: 60px"></td>
            <td>
                <h5 >{{m.name}}</h5>
                <p>{{toTime(m.start)}}</p>
                <h5>{{m[$index].blocked}}</h5>
            </td>
            <td>
                <h5>{{m.end == 9007199254740992 ? 'Aktiv' : (toDuration(m.duration))}}  </h5>
<!--                <label class="switch">-->
<!--                    <input type="checkbox"  ng-click="block(scope, m.package, m, $event)"  ng-checked="aa[$index].blocked"  id="{{m.package}}" >-->
<!--                    <span class="slider"></span>-->
<!--                </label>-->
            </td>
        </tr>
        </tbody>
    </table>

</div>





<script>

   let an= angular.module("app", ['ui.bootstrap']).controller("myCtrl", function($scope, $http) {
        $scope.message=["Hello Wdsdorld",'dasdas'];
        $scope.v = true;
        $scope.m = false;
        $scope.g = false;
        $scope.txt = "asdsd";


        $scope.addAlert = function() {
            $scope.alerts.push({msg: 'Another alert!'});
        };

        $scope.toTime = function(d) {
            let ans = new Date(d).toLocaleString();
            ans = ans.substring(0,ans.length-3)
            return ans;
        }
        $scope.toDuration = function(d) {

            if(d < 60) {
                return d + " San";
            }else {
                d = $scope.divide(d, 60);
                return d + " Dəq";
            }
        }
        $scope.divide = function(a,b) {
            let ans = a / b;
            return parseInt(ans);
        }
        $scope.closeAlert = function(index) {
            $scope.alerts.splice(index, 1);
        };

        $scope.myFunc = function() {
            $scope.count++;
            console.log("asdads");
        };
        $scope.block = function(a,b,c,d) {
            let block = (c.blocked) ? 0 : 1;
            console.log(b);
            console.log("block status gonderildi " + block)

            $http.get('http://tmhgame.tk/blockApp?imei='+$scope.d.imei+'&package='+b+'&block='+block).then(function (d) {
                console.log(d.data.apps + " " + $scope.imei);

                c.blocked = c.blocked ^ true;

            }, function () {

            });

        };

        $scope.gundelik = function() {

            $http.get('http://tmhgame.tk/sendCommand?imei=356769106360753').then(function (d) {
                console.log(d.data.data);

                $scope.gunluk = d.data.data;
                if($scope.gunluk == undefined) {
                    console.log("SendCommand Time out");
                    return;
                }
                let t = [];
                for(let i = 0; i < $scope.aa.length; i++) {
                    t[$scope.aa[i].package] = 1;
                }
                let ans = [];
                for(let i = 0; i < $scope.gunluk.length; i++) {
                    if(t[$scope.gunluk[i].package] == undefined)continue;
                    $scope.gunluk[i].start = parseInt($scope.gunluk[i].start);
                    $scope.gunluk[i].end = parseInt($scope.gunluk[i].end);
                    $scope.gunluk[i].duration = $scope.gunluk[i].end - $scope.gunluk[i].start;
                    $scope.gunluk[i].duration = $scope.divide($scope.gunluk[i].duration, 1000);
                    if($scope.gunluk[i].end == -1) {
                        $scope.gunluk[i].end = 9007199254740992;
                        //$scope.gunluk[i] = 9007199254740992;

                    }
                    ans.push($scope.gunluk[i]);

                    console.log($scope.gunluk[i].duration);

                }
                $scope.gunluk = ans;
                
                $scope.gunluk.sort(function (a,b) {
                    return b.end-a.end;
                })
            }, function () {

            });

        }

        //$scope.aa=[];
        $http.get('http://tmhgame.tk/getDevice?imei=356769106360753').then(function (d) {
            console.log(d.data.apps);
            $scope.d = d.data;
            console.log(d.data.imei);
            $scope.aa = d.data.apps;
            
        }, function () {

        });

    } )


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT8fPfM4fsk3kwvoxbSn4340zV4Gi6rko&callback=initMap"
        async defer></script>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.6506034, lng: 46.5340354},
            zoom: 15
        });
        var marker = new google.maps.Marker({
            position: {lat: 40.6506034, lng: 46.5340354},
            map: map,
            title: 'Hello World!'
        });
    }

    $('.navbar-nav>li>a').on('click', function(){
        $('.navbar-collapse').collapse('hide');
    });
</script>


</body>
</html>